<main *ngIf="page === 1">
  <h1>¡Hola Estudiante!</h1>
  <p>
    Tu docente te compartirá una palabra <br />
    clave para que ingreses a la Historia.
  </p>
  <p></p>
  <br />
  <h1>Ingresa el Código</h1>

  <div class="input-group">
    <input
      [(ngModel)]="text"
      type="text"
      id="providedAccessWord"
      name="providedAccessWord"
      placeholder="Ejm: Arbolrojo"
      required />
  </div>
  <button (click)="accessStory()" class="btn-orange">Comenzar</button>
</main>
<main *ngIf="page === 2">
  <h1>Ingresa tu nombre</h1>
  <p>
    Ingresa tu nombre con el que el docente te <br />
    identificará.
  </p>
  <p></p>
  <p class="recomendacion">Lo recomendado es primer nombre y primer apellido</p>

  <div class="input-group">
    <input
      #nameStudent
      [(ngModel)]="text2"
      type="text"
      id="nameStudent"
      name="nameStudent"
      placeholder="Ejm: Luis Sanchez"
      required />
  </div>

  <button (click)="registerStudent()" class="btn-orange">
    Ir a la Historia
  </button>
</main>
