main {
  background-color: #eaeaea;
  height: 1150px;
}
.row {
  background-color: #ffffff;
  font-family: 'League Spartan', sans-serif;
}
.card {
  width: 1800px;
  height: 1100px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

.card3 {
  margin-left: 200px;
  width: 600px;
  height: 920px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #989898;
  background-color: #ffffff;
}
.card2 {
  margin-left: 50px;
  width: 1000px;
  height: 920px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #989898;
  background-color: #ffffff;
}
.resp-group {
  margin-bottom: 40px;
}

.formulario {
  max-width: 450px;
  max-height: 800px;
  margin: 0 auto;
}

.idStory {
  width: 50%;
  margin: 0 auto;
}

.title {
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

btns {
  text-align: center;
}

.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.response2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.correct-label {
  margin-left: 110px;
}
.answer-label {
  margin-left: 160px;
}

.option {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 40px;
}

.cuestionInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.responseInput {
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
}

.answer-number {
  text-align: right;
  margin-left: 10px;
}
.palabraText {
  text-align: right;
  margin-left: 10px;
}

.answer {
  display: flex;
  align-items: center;
}

.sigcas {
  margin-left: -8px;
  margin-bottom: 10px;
}

.responseInput2 {
  width: 120px;
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.formVoc {
  display: flex;
  margin-left: -12px;
}
.formVoc .sigcas {
  margin-left: 20px;
}

textarea.significadoInput {
  margin-top: 10px;
  width: 430px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.cuestionInput {
  width: 450px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.move-left {
  margin-top: -20px;
  margin-right: 140px;
}
.move-rigt {
  margin-top: -20px;
  margin-right: 110px;
}

.move-center {
  margin-top: -20px;
  margin-right: 250px;
}

.btn-primary.move-left {
  background-color: #fb7800;
  border-color: #fb7800;
  color: white;
}

.btn-primary.move-rigt {
  background-color: #fb7800;
  border-color: #fb7800;
  color: white;
}

.btn-primary.move-center {
  background-color: #fb7800;
  border-color: #fb7800;
  color: white;
}

.round-button {
  border-radius: 50%;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.add-button {
  background-color: #f97700; /* Color polo */
}

.delete-button {
  background-color: #6b747c; /* Color naranja */
}

.card55 {
  margin-left: 50px;
  width: 450px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-right: -50px;
}
