body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 150px;
  height: 80px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  font-size: 30px;
  margin-left: 30px;
  transition: all 0.3s ease;
}

.nav a.active {
  font-weight: bold;
}

.main {
  background-color: #f2f2f2;
  text-align: center;
  padding: 100px;
}

.main h1 {
  font-size: 36px;
  font-weight: bold;
  color: #0049ac;
  margin-bottom: 30px;
}

.main p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-register,
.btn-login {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.btn-login {
  background-color: #000;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 15%;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.new-btn-orange {
  background-color: #fb7900;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 20px;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  border-radius: 30px;
  width: 280px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.resultados-titulo {
  color: #0049ac;
  font-weight: bold;
  margin-right: 10px;
}

.resultados-texto {
  color: black;
  font-weight: bold;
}

.animet {
  top: 70%;
  left: 50%;
  height: 200px;
  width: 200px;
}
