main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eaeaea;
  height: 50pc;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eaeaea;
  height: 10px;
}

.step-container {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.separator {
  height: 2px;
  width: 200px;
  background-color: #ccc;
  margin: 0 -40px;
  margin-bottom: 30px;
}

.step p {
  margin: 0;
  color: #333;
}

h1 {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  color: #0049ac;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 30px; /* Ajusta el margen inferior según tus necesidades */
}

.card {
  height: 310px;
  width: 600px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #d9e5a9;
}

.card2 {
  height: 340px;
  width: 600px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #d9e5a9;
}

.card-header {
  padding: 15px;
  color: #000000;
}

.card-body {
  margin-top: 30px;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}
.card-body2 {
  margin-top: 30px;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
  width: 450px;
  align-items: center;
  margin-left: 50px;
}

.forgot {
  margin-left: 150px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ffffff; /* Borde rojo para los inputs */
  border-radius: 30px;
  box-sizing: border-box;
}

.required {
  color: red;
}

.form-check {
  margin-top: 10px;
}

.btn {
  color: white;
  margin-top: 40px;
  margin-right: 1750px;
}

.btn-primary {
  background-color: #fd7900;
  color: white;
  border: none;
  display: block;
  border-radius: 20px;
  margin: 50px auto 0 auto; /* Margen automático arriba y abajo, y centrado horizontalmente */
  text-align: center; /* Alinea el contenido del bloque al centro */
  font-size: 25px; /* Ajusta el tamaño de la letra según tus necesidades */
  padding: 15px 40px; /* Ajusta el padding para aumentar el tamaño del área de clic */
  margin-left: 100px; /* Ajusta el margen izquierdo según tus necesidades */
}

/* Estilo para el checkbox "Mostrar contraseña" */
#mostrarContrasena {
  margin-left: 5px;
}

/* Estilo para el mensaje "Acepto que envíen a mi correo Novedades sobre iRead" */
.form-check label {
  display: inline;
  margin-left: 5px;
  color: #333;
}

.btn2 {
  color: #333333;
  margin-top: 40px;
  margin-right: 1750px;
}
