.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.carousel {
  position: relative; /* IMPORTANTE */
  width: 720px; /* ajusta si quieres */
  max-width: 95%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.35s ease-in-out;
  will-change: transform;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

/* Tarjeta */
.testimonial-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  border-radius: 8px;
  background: #d9d9d9;
  padding: 22px 18px;
  text-align: center;
}

.quote {
  margin: 5px 35px 12px 35px;
  font-size: 18px;
}

.name {
  font-weight: 800;
  font-size: 20px;
}

.role {
  font-size: 16px;
}

/* Flechas */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  padding: 8px 10px;
  color: #ffffff;
  background: transparent;
}

.prev-btn {
  left: 10px;
}
.next-btn {
  right: 10px;
}

/* Indicadores */
.indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #000;
}

.prev-btn svg,
.next-btn svg {
  width: 28px;
  height: 28px;
  display: block;
  color: #000;
}
