body {
  background: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  padding: 0px;
  margin-bottom: 0px;
}

.texto {
  text-align: center;
  margin-top: 20px;
}
