<main class="main">
  <button routerLink="/historial" class="btn">
    <i class="fa fas fa-arrow-left fa-2x" aria-hidden="true"></i>
  </button>

  <h1>Has iniciado la historia</h1>
  <h3 class="titulo">
    Titulo: <span class="titulo-grande">{{ selectedStory?.title }}</span>
  </h3>
  <h2>Palabra clave</h2>
  <h3 class="titulo">
    <span class="titulo-grande"> {{ selectedStory?.accessWord }} </span>
  </h3>
  <br />
  <h3 class="esperando mb-5">
    Comparte esta palabra clave con tus <br />
    estudiantes para que se unan a la historia...
  </h3>
  <button
    (click)="comenzarHistoria()"
    routerLink="/progreso"
    class="btn-orange">
    Comenzar
  </button>
</main>
