<nav class="navbar navbar-expand-lg bg-white">
  <img
    routerLink="/"
    src="assets/logos/logo-iread-color.webp"
    width="250"
    height="150" />

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="aa">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              routerLink="/crea"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Crea</a
            >
          </li>
        </ul>
      </ul>
      <ul class="aa">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              routerLink="/historial"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Mis Historias</a
            >
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
