nav {
  font-family: 'League Spartan', sans-serif;
}

.navbar {
  font-family: 'League Spartan', sans-serif;
}

.container {
  font-family: 'League Spartan', sans-serif;
}

.mat-toolbar-row {
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
}

.mat-toolbar-row img {
  background: rgba(255, 255, 255, 0.04);
}

.mat-toolbar-row img:hover {
  background: rgba(255, 255, 255, 0.16);
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: all 0.3s ease;
  font-family: 'League Spartan', sans-serif;
}

nav a:hover {
  background: rgba(5, 1, 1, 0.03);
  border-radius: 0.8rem;
}

h1 {
  margin: 0 40px 0 45px;
  padding: 2rcap 0 2rcap;
  font-family: 'League Spartan', sans-serif;
}

h1:hover {
  border-radius: 0.8rem;
  padding: -2rcap 0 -2rcap;
}

.nav a.active {
  font-weight: bolder;
  font-family: 'League Spartan', sans-serif;
}

a {
  font-family: 'League Spartan', sans-serif;
}

div img,
div img:hover {
  background: rgba(5, 1, 1, 0.03);
  border-radius: 0.8rem;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.login-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.login-button:hover {
  background-color: #333;
}

.aa {
  font-size: 40px;
}

.bb {
  margin-left: 650px;
  font-size: 15px;
  color: black;
}

.nav-link.activet {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-link.activet:hover {
  background-color: #000000;
  padding: 10px 20px;
}
