main {
  background-color: #f2f2f2;
  text-align: center;
  padding: 100px;
  font-family: 'League Spartan', sans-serif;
}

.main {
  display: flex;
}

.datosdehistoria .h2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 25px;
}
h2 {
  font-weight: inherit;
}

main h1 {
  font-size: 45px;
  font-weight: bold;
  color: #0049ac;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 50px;
}

.main p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'League Spartan', sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-size: 45px;
  font-weight: bold;
  color: #0049ac;
  margin-left: 150px;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 20px;
}

.filtro {
  margin-right: 170px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  font-family: 'League Spartan', sans-serif;
}

.cards-container {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(30% - 20px), 1fr)
  ); /* Crea columnas flexibles */
  gap: 40px;
  margin-top: -150px;
  margin-bottom: -150px;
}

.card {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 5px;
}

.btn-orange {
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 20px;
}

.btn-orange {
  background-color: #fd7900;
  color: white;
  border: none;
  padding: 5px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
}

.btn-orange:hover {
  background-color: #f57c00;
}

.botones-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.boton-imagen {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.no-historias {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Para centrar horizontalmente el texto */
}

.no-historias h3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 30px;
  margin: 0; /* Eliminar el margen predeterminado del h3 */
}
