main {
  background-color: #eaeaea; /* Color de fondo gris */
  padding: 120px; /* Espaciado interior del contenedor */
  font-family: 'League Spartan', sans-serif;
}

.card {
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  padding: 10px;
}
.palab-group {
  margin-bottom: 40px;
}

.formulario {
  width: 50%;
  margin: 0 auto;
}

.idStory {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

btns {
  text-align: center;
}

.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.correct-label {
  margin-left: 85px;
}
.answer-label {
  margin-left: 105px;
}

.palabraInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.significadoInput {
  width: 390px; /* Ancho personalizado */
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.casousoInput {
  width: 390px; /* Ancho personalizado */
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}

.move-left {
  margin-right: 150px; /* Ajusta el margen derecho según tu preferencia */
}
.move-rigt {
  margin-left: 150px; /* Ajusta el margen derecho según tu preferencia */
}
